html {
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'Georgia';
  font-size: 18px;
  color: #333333;
}
.g-clearfix:before,
.g-clearfix:after {
  content: '';
  display: table;
}
.g-clearfix:after {
  clear: both;
}
.lt-ie8 .g-clearfix {
  zoom: 1;
}
.l-container {
  height: calc(100vh - 2 * 10px);
  padding: 10px;
}
.l-options {
  float: left;
  width: 26%;
  height: 100%;
  margin-right: 10px;
}
.l-example {
  overflow: hidden;
  height: calc(100vh - (2 * 1px + 2 * 10px));
  border: 1px solid #cccccc;
}
.b-options-part {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #cccccc;
}
.b-options-part:first-child {
  margin-top: 0;
}
.b-options-item + .b-options-item {
  margin-top: 10px;
}
.b-options-item_small {
  box-sizing: border-box;
  float: left;
  width: calc(50% - 5px);
}
.b-options-item_small + .b-options-item_small {
  margin-top: 0;
  margin-left: 10px;
}
.b-options-item_fluid .b-options-title,
.b-options-item_fluid .b-options-main {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.b-options-item_fluid .b-options-main {
  margin-left: 20px;
}
.b-options-title {
  font-size: 1.2em;
  margin-bottom: 8px;
}
.b-options-select,
.b-options-input {
  box-sizing: border-box;
  width: 100%;
  padding: 2px 4px;
  border: 1px solid #cccccc;
  font-family: 'Georgia';
}
.b-options-range {
  width: 100%;
}
.b-options-button {
  display: inline-block;
  width: 80px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
}
.b-options-button + .b-options-button {
  margin-left: 10px;
}
.example-container {
  height: calc(100% - 10px);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 5px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.example-item {
  transition: all linear .2s;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 6px;
  padding: 10px 20px;
  border: 1px solid #cccccc;
  background: #ffff00;
  font-family: Georgia;
  font-size: 16px;
  color: #444444;
}
.example-item:focus {
  background: #ffff80;
  color: #888888;
}