@container-padding: 10px;

@example-border-width: 1px;

.l-container {
  height: calc(~'100vh - 2 * @{container-padding}');
  padding: @container-padding;
  }

.l-options {
  float: left;
//  width: 26%;
  width: 256px;
  height: 100%;
  overflow-y: scroll;
//  margin-right: 10px;
  background: #354051;
  }

.l-example {
  overflow: hidden;
  height: calc(~'100vh - (2 * @{example-border-width} + 2 * @{container-padding})');
//  height: 100vh;
//  border: @example-border-width solid @gray;
  background: @white;
  }